@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--main-bg-color);
}


.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  padding-top: 50px;
}

.Tittle-Admin {
  font-family: "Erica One", sans-serif;
  color: white;
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.Tittle-Admin span {
  display: block;
}

.button-container {
  display: flex;
  gap: 20px;
}

.btnAdmin {
  background-color: #E5A157;
  color: #3D3D3D;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 70px;
  font-size: xx-large;
  font-family: "Raleway", sans-serif;
}

