@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.cart-container h1 {
  font-family: "Erica One", sans-serif;
}

.cart-table {
  width: 80%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  border: 2px solid #fff;
  padding: 10px;
  vertical-align: middle;
}

.cart-table th {
  background-color: #444;
  color: #fff;
  text-transform: uppercase;
}

.cart-table td {
  color: #fff;
}
.confirm-button {
  margin-top: 20px;
  background-color: white;
  color: black;
  font-family: "Raleway", sans-serif;
}

.modal-dialog{
  color: black;
}

.TotalPrice {
  background-color: #656565;
  font-weight: bold;
}