@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

.footer {
  display: flex;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: #3d3d3d;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 200%;
  justify-content: space-between;
  margin-top: auto;
  text-align: center;
}

.cart-container {
  height: calc(100vh - 80px);
  overflow: auto;
}
.container-end-main {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: #3d3d3d;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 200%;
  justify-content: space-between;
  margin-top: auto;
  text-align: center;
}
.footer-section {
  padding: 0 100px;
}

.center {
  flex: 3;
}

.footer h5 {
  margin: 10px 0;
  text-decoration: underline;
}

.footer div {
  margin: 5px 0;
}

.footer .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
