@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.principal {
  text-align: -webkit-center;
  padding-top: 50px;
  position: relative;
  animation: slideInFromTop 1s ease-in-out;
}
@keyframes slideInFromTop {
  from {
    transform: translateY(
      -100%
    ); 
  }
  to {
    transform: translateY(0);
  }
}
.Tittle-Landing {
  font-family: "Erica One", sans-serif;

  color: white;
  font-size: 80px;
}
.p-landing {
  border-radius: 10px;
  background-color: #3d3d3d;
  color: white;
  font-weight: bold;
  padding: 20px;
  max-width: 200px;
  font-size: 20px;
}
.carousel-item img {
  max-height: 400px; 
  object-fit: contain; 
}

.tittle-carrousel {
  text-align: center;
  font-family: "Erica One", sans-serif;
  font-size: 50px;
  color: white;
}

.cart {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}
