@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--main-bg-color);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto; 
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-top: 50px; 
}

.h5, h5 {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.content-register {
  background-color: #3d3d3d;
  color: #fff;
  padding: 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%; 
  max-width: 500px;
}

.content-register form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnRegister {
  background-color: #fff;
  color: #3d3d3d;
  font-size: 1.25rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.btnRegister:hover {
  background-color: #fff;
  color: #3d3d3d;
}
