/* Common CSS */
:root {
  --main-bg-color: #037438;
  --main-text-color: #ffffff;
  --secondary-bg-color: #3d3d3d;
}
body {
  background-color: var(--main-bg-color);
}
.buttons-navs {
  background-color: white;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  margin-right: 15px;
  text-decoration: none;
}
.buttons-about {
  background-color: #037438;
  font-weight: bold;
  cursor: pointer;

  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  margin-right: 15px;
  text-decoration: none;
}

.navbar-landing {
  border-bottom: 3px solid white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
